{% extends 'base.html' %}

{% block content %}
  <div class="p-3 mb-4 bg-light rounded-3">
    <div class="d-flex flex-column flex-md-row text-center text-md-start align-items-center gap-5 py-2">
      <div class="left">
        <img
          class="rounded-circle"
          src="{{ user.avatar.url }}"
          alt="User profile pic"
          style="width: 10rem;"
        />
      </div>
      <div class="right">
        <p class="lead">{{ user.first_name }} {{ user.last_name }}</p>
        <p class="lead text-secondary">@{{ user.username }}</p>
      </div>
    </div>
  </div>
  <p class="lead fw-bold mb-4">Thoughts by {{ user.first_name }} {{ user.last_name }}</p>
  {% for thought in thoughts %}
    {% include 'feeds/shared/thought_component.html' %}
  {% endfor %}

  <div class="text-center">
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}
  </div>
{% endblock content %}