{% load static %}
<nav class="navbar navbar-expand-lg bg-light py-2 border-bottom">
  <div class="container">
    <a class="navbar-brand fw-bold fs-4" href="{% url 'welcome' %}">
      <img
        src="{% static 'img/logo.png' %}"
        alt="Logo"
        width="40"
        height="40"
        class="flex align-items-center"
      />
      DropThought
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {% if request.user.is_authenticated %}
        {% comment %} Left side {% endcomment %}
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'feeds-home' %}"
              >Discover Thoughts</a
            >
          </li>
        </ul>

        {% comment %} Right side {% endcomment %}
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center align-items-md-center gap-3">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'feed-create' %}"
              ><i class="bi bi-pencil-square fs-4"></i></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle text-dark"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                class="img-fluid rounded-circle"
                src="{{ request.user.avatar.url }}"
                alt="User profile picture"
                width="40"
              />
              @{{ request.user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-center text-md-start">
              <li><a class="dropdown-item" href="{% url 'profile' request.user.username %}">{{ request.user.first_name }} {{ request.user.last_name }}</a></li>
              <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
        </ul>
      {% endif %}

    </div>
  </div>
</nav>
